
.card{
  background-color: #ffffff;
  margin: 12px;
  width: 230px;
  border-radius: 5px;
  border: 1px solid #e2e2e2;

  &-img{
    border-radius: 5px;
    border: 1px solid #211f18;
    width: 230px;
  }

  .albums{
    font-family: "DeVinne Txt BT", serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
  }
  &-info{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }


  &-text{
    text-align: center;
    margin: 10px;
    font-size: 13px;
  }
  &-name{
    margin: 15px ;
    font-size: 18px;
  }

}
